/* This is a simple device tree overlay for RPi */

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835", "brcm,bcm2708", "brcm,bcm2709";

	fragment@0 {
		target = <&gpio>;
		__overlay__ {
			amg88xx_pins: amg88xx_pins {
				brcm,pins = <4>; // Pin: GPIO04
				brcm,function = <0>; // Direction: in
				brcm,pull = <2>; // Pull-up enabled 
			};
		};
	};

	fragment@1 {
		target = <&i2c1>;
		
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			status = "okay";

			amg88xx: amg88xx_node {
				compatible = "panasonic,amg88xx";
				reg = <0x68>;
				
				pinctrl-names = "default";
				pinctrl-0 = <&amg88xx_pins>;
				
				interrupt-parent = <&gpio>;
				 // Pin: GPIO04, high-to-low edge
				interrupts = <4 2>;
				
				// GPIO-pin for reading the value of the
				// interrupt line
				interrupt-gpio = <&gpio 4 0>;
			};
		};
	};
	
	// Load time parameters
	__overrides__ {
		// I2C slave adress (default: 0x68)
		slave-address = <&amg88xx>,"reg.0";
		
		// interrupt pin (default: GPIO04)
		interrupt = <&amg88xx>,"brcm,pins:0",
			<&amg88xx>,"interrupts:0",
			<&amg88xx>,"interrupt-gpio:4";

	};
};

